<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="game-board">
    <!-- Imagem das nuvens -->
    <img src="../../assets/icon/clouds.png" class="cloud">
    
    <!-- Imagem do jogador -->
    <img src="../../assets/icon/mario.gif" class="player">
    
    <!-- Imagem do cano -->
    <img src="../../assets/icon/pipe.png" class="pipe">
  </ion-card>

  <!-- Botão para pular -->
  <ion-button color="warning" expand="block" (click)="jump()">Pule!
    <ion-icon name="arrow-up-outline" slot="start"></ion-icon>
  </ion-button>
</ion-content>



